<div class="container">
	<h1>AdWords Preview</h1>
	<form>

		<div class="form-group">
			<div class="input-group input-group-sm">
				{{input type="text" class="form-control" placeholder="Headline" value=headline}}
				<div class="input-group-addon">{{headlineCharsLeft}} Characters Left</div>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group input-group-sm">
				{{input type="text" class="form-control" placeholder="Line 1" value=line1}}
				<div class="input-group-addon">{{line1CharsLeft}} Characters Left</div>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group input-group-sm">
				{{input type="text" class="form-control" placeholder="Line 2" value=line2}}
				<div class="input-group-addon">{{line2CharsLeft}} Characters Left</div>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group input-group-sm">
				{{input type="text" class="form-control" placeholder="Display URL" value=displayUrl}}
				<div class="input-group-addon">{{urlCharsLeft}} Characters Left</div>
			</div>
		</div>

	</form>
</div>