<div class="container">
	<div class="container-fluid">
		<h1>AdWords Preview</h1>
		<div class="row">

			<div class="col-md-6">
				<form>
					<div class="form-group">
						<div class="input-group input-group-sm">
							{{input type="text" class="form-control" placeholder="Headline" value=headline}}
							<div class="input-group-addon">{{headlineCharsLeft}} Characters Left</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-sm">
							{{input type="text" class="form-control" placeholder="Line 1" value=line1}}
							<div class="input-group-addon">{{line1CharsLeft}} Characters Left</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-sm">
							{{input type="text" class="form-control" placeholder="Line 2" value=line2}}
							<div class="input-group-addon">{{line2CharsLeft}} Characters Left</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-sm">
							{{input type="text" class="form-control" placeholder="Display URL" value=displayUrl}}
							<div class="input-group-addon">{{urlCharsLeft}} Characters Left</div>
						</div>
					</div>
				</form>
			</div> {{!-- /.col-md-6 --}}

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Site AdWords Preview</h3>
					</div>
					<div class="panel-body">
					{{#if headline}}
						<div class="ad-wrapper">
							<p class="ad sidead">
								<span id="sidead-adwords-ad" class="adwords adwordsAds">Ads</span>
								<span id="sidead-adwords-headline" class="adwords adwordsHeadline">{{headline}}</span>
								<span id="sidead-adwords-displayurl" class="adwords adwordsUrl">{{#if displayUrl}}www.{{displayUrl}}{{/if}}</span>
								<span id="sidead-adwords-line1" class="adwords adwordsLine">{{line1}}</span>
								<span id="sidead-adwords-line2" class="adwords adwordsLine">{{line2}}</span>
							</p>
						</div>

						<hr>

						<div class="ad-wrapper">
							<p class="ad topad">
								<span id="topad1-adwords-headline" class="adwords adwordsHeadline">{{headline}}</span>
								<span id="topad1-adwords-displayurl" class="adwords adwordsUrl">{{#if displayUrl}}www.{{displayUrl}}{{/if}}</span>
								<span id="topad1-adwords-line1" class="adwords adwordsLine">{{line1}}</span>
								<span id="topad1-adwords-line2" class="adwords adwordsLine">{{line2}}</span>
							</p>
						</div>

						<hr>

						<div class="ad-wrapper">
							<p class="ad topad">
								<span id="topad2-adwords-headline" class="adwords adwordsHeadline">{{headline}} | {{displayUrl}}</span>
								<span id="topad2-adwords-displayurl" class="adwords adwordsUrl">{{#if displayUrl}}www.{{displayUrl}}{{/if}}</span>
								<span id="topad2-adwords-line1" class="adwords adwordsLine">{{line1}}</span>
								<span id="topad2-adwords-line2" class="adwords adwordsLine">{{line2}}</span>
							</p>
						</div>
					{{/if}}
					</div>
				</div>

			</div> {{!-- /.col-md-6 --}}
		</div> {{!-- /.row --}}
	</div> {{!-- /.container-fluid --}}
</div> {{!-- /.container --}}